@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    position: relative;
}

.newPayment {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
}

.buttonNewPayment {
    width: 180px;
    background-color: #150651 !important;
    color: #fff !important;
}

.box {
    display: flex;
    flex-direction: column;

}

.payment {
    min-width: 600px;
    width: 100%;
    max-width: 800px;
    padding: 12px;
    padding: 12px;
    border-radius: 12px;
    background-color: #fff;
    margin-bottom: 12px;
}

.payment-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.informations {
    max-width: 600px;
}

.payment-title {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #150651;
    margin-bottom: 0;
}

.payment-description {
    font-family: "Poppins", sans-serif;
    color: #1506518d;
}

.payment-value {
    font-family: "Poppins", sans-serif;
    color: #150651;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px
}

.p-inputswitch {
    width: 20px !important; /* Largura do switch */
    height: 20px !important; /* Altura do switch */
}
  
  /* Ajustando o tamanho do slider */
.p-inputswitch-slider {
    width: 16px !important; /* Largura do botão deslizante */
    height: 16px !important; /* Altura do botão deslizante */
    top: 2px !important;     /* Centralizando verticalmente */
}

.icon {
    cursor: pointer;
}

.blurModal {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #08031c9a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 30px #070317;
    padding: 16px;
}

.headerModal {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.closeModal {
    cursor: pointer;
}

.formModal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputForm {
    width: 100%;
    margin-bottom: 20px;
}

.buttons {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    gap: 10px;
}

.buttonCancel {
    width: 120px;
    background-color: #474747 !important;
    color: #fff !important;
}

.button {
    width: 120px;
    background-color: #150651 !important;
    color: #fff !important;
}